# Ignore the binwalked firmware
firmware/_*extracted/

# Ignore the used URL
firmware/UI_URL

# Packages
firmware/packages*.csv
firmware/packages*.txt
firmware/packages*.list

source/usr/lib/version
source/tmp

*.bin
#*.deb

# Ignore the Docker container storage files
storage/